<nav class="Fondobarra">
  <div class="navbar-container">
    <div class="logo2">
      <a class="navbar-brand" href="{{ url_for('inicio') }}">
        <img class="logo" src="/static/imagenes/letras.webp" alt="Logo">
      </a>
    </div>

    <div class="nav-left">
      {% if session.logged_in %}
      <a href="{{ url_for('inicio') }}">Inicio</a>
      <a href="{{ url_for('movimientos') }}">Movimientos</a>
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      {% endif %}
    </div>

    <div class="nav-right">
      {% if session.logged_in %}
      <span>Hola, {{ session.username }}</span>
      <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
      {% else %}
      <a href="{{ url_for('login') }}">Iniciar Sesión</a>
      <a href="{{ url_for('register') }}">Registrarse</a>
      {% endif %}
    </div>
  </div>
</nav>