{% extends "model.html" %}
{% block body %}
{% from "partes/_formhelpers.html" import render_field %}


<div class="">
    <div class="wave-bg">
        <div class="login-container">
            <div>
                <img src="/static/imagenes/AGROPRIME-Photoroom.png" alt="">
            </div>

            <div class="login">
                <div>
                    <h2 class="">Iniciar Sesión</h2>
                </div>

                {% if error %}
                <div class="">{{ error }}</div>
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <form method="POST" action="{{ url_for('login') }}">

                        {{ render_field(form.username, class_="input") }}
                        {{ render_field(form.password, class_="input") }}

                        <button type="submit" class="">Iniciar Sesión</button>
                    </form>
                </div>


                <div class="logincuenta">
                    <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}